<h1>Stupid Coaching</h1>
<blockquote>
<%= @question %><br><br>
<i>- You</i>
</blockquote>


<blockquote style="background: #fffec0;">
<strong><p><%= @answer %></p></strong><br><br>
<i>- Your coach</i>
</blockquote>
